* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  .header {
    width: 100%;
    max-width: var(--max-dp-width);
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-sm);

    section {
      display: flex;
      align-items: center;
      img {
        height: 2.7rem;
      }
    }
  }
}
.main-bg {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 18.75rem;
}
.restaurant-logo {
  position: absolute;
  top: 16.25rem;
  background-color: var(--neutral-300);
  padding: var(--spacing-ml);
  border-radius: 40%;
  box-shadow: var(--shadow-md);
  z-index: 2;
}
.restaurant-title {
  padding: var(--spacing-xxl);
  color: var(--neutral-800);
}

main nav {
  background-color: var(--neutral-300);
  border-radius: 0.5rem;
  display: flex;
  max-width: var(--max-dp-width);
  width: 100%;
  gap: 2rem;
  padding: var(--spacing-xs);
  margin-bottom: 2rem;
  padding-left: 2rem;
  box-shadow: var(--shadow-sm);

  a:hover{
    color: var(--primary-light);
  }
}

.sidebar--container {
  position: relative;
  justify-content: start;
}

.basket {
  position: sticky;
  top: 1rem;
  background-color: var(--neutral-100);
  border-radius: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  box-shadow: var(--shadow-sm);
  /* border: solid red 1px; */
}



.basket--items{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-warm) var(--neutral-100);
  width: 90%;
}

.basket--item{
  background-color: var(--bg-warm);
  box-shadow: var(--shadow-sm);
  border-radius: 1rem;
  padding: 1rem;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.basket--price{
  width: 80%;
}

.divider{
  background-color: var(--neutral-600);
  width: 80%;
  height: 1px;
  margin: var(--spacing-sm) 0;
}
.transparent{
  opacity: 0.2;
}
.basket--row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
