* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  .header {
    width: 100%;
    max-width: var(--max-dp-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm);

    section {
      display: flex;
      align-items: center;
      img {
        height: 2.7rem;
      }
    }
  }
}

.main-bg {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 18.75rem;
}

.restaurant-logo {
  position: absolute;
  top: 16.25rem;
  background-color: var(--neutral-300);
  padding: var(--spacing-ml);
  border-radius: 40%;
  box-shadow: var(--shadow-md);
  z-index: 2;
}

.restaurant-title {
  padding: var(--spacing-xxl);
  color: var(--neutral-800);
}

main nav {
  background-color: var(--neutral-300);
  border-radius: 0.5rem;
  display: flex;
  max-width: var(--max-dp-width);
  width: 100%;
  gap: 2rem;
  padding: var(--spacing-xs);
  margin-bottom: 2rem;
  padding-left: 2rem;
  box-shadow: var(--shadow-sm);
  overflow-x: auto;
  @media (max-width: 600px) {
    padding: 1rem 0;
  }
  a:hover {
    color: var(--primary-light);
  }
}

.sidebar--container {
  position: relative;
  justify-content: start;
  @media (max-width: 900px) {
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
  }
}

.basket {
  position: sticky;
  top: 1rem;
  background-color: var(--neutral-100);
  border-radius: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  max-height: 80vh;
  box-shadow: var(--shadow-sm);
  z-index: 5;
  transition: transform 1s ease-in-out;
  h3 {
    padding-top: 1rem;
  }
  @media (max-width: 900px) {
    border-radius: 2rem 2rem 0 0;
    justify-content: space-between;
    background-color: var(--neutral-700);
    width: 100%;
    flex-grow: 1;
    position: fixed;
    top: 0;
    bottom: 70px;
    max-height: 100%;
    border-radius: 0;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.sidebar-hidden {
  @media (max-width: 900px) {
    .basket {
      transform: translateY(100vh);
    }
  }
}

.close--btn {
  background-image: url(../assets/icons/close.svg);
  background-size: cover;
  cursor: pointer;
  margin: var(--spacing-sm);
  height: 3rem;
  width: 3rem;
  &:hover {
    transform: scale(1.05) rotate(18deg);
  }
  @media (min-width: 900px) {
    display: none;
  }
}

.basket--items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-warm) var(--neutral-100);
  width: 90%;
  h6 {
    padding-bottom: 1rem;
  }
}

.basket--item {
  background-color: var(--neutral-300);
  box-shadow: var(--shadow-sm);
  border-radius: 1rem;
  padding: 1rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price--container {
  width: 80%;
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  background-color: var(--neutral-600);
  width: 100%;
  height: 1px;
  margin: var(--spacing-sm) 0;
}

.basket--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer {
  background-color: var(--bg-primary);
  padding: var(--spacing-sm);

  @media (max-width: 900px) {
    padding-bottom: 80px;
  }

  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
    .footer-section {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  article {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    @media (max-width: 900px) {
      gap: 2rem;
      text-align: center;
      a {
        font-size: 1rem;
      }
    }
    a {
      &:hover {
        color: var(--text-price);
      }
    }
  }
}

.bottom-nav {
  width: 100%;
  background-color: var(--bg-dark);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: var(--spacing-md);
  display: flex;
  justify-content: space-evenly;
  a {
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .bottom-nav {
    display: none;
  }
}

.bottom-wrapper {
  display: flex;
  padding: var(--shadow-sm);
}

.bottom-nav-item {
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  background-image: url(./assets/icons/home.svg);
}

.user {
  background-image: url(./assets/icons/user.svg);
}

.order {
  background-image: url(./assets/icons/order.svg);
}

.shoppingcart {
  background-image: url(./assets/icons/shopping-cart.svg);
}

.chart--wrapper {
  display: flex;
  position: relative;
}

.badget {
  position: absolute;
  right: 4px;
  top: -3px;
  z-index: 3;
  background-color: var(--primary-dark50);
  border-radius: 50%;
  min-width: 25px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.grid-item {
  grid-area: 1/1;
}
