.logo{
  display: block;
  background: url(../assets/icons/favicon.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
}
.btn{
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  background-position: center;
  background-size: cover;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    filter: drop-shadow(0 0 0.5px #00000027);
    transform: scale(1);
  }
}
.btn--minus{
  background-image: url(../assets/icons/minus.svg);
}
.btn--plus{
  background-image: url(../assets/icons/plus.svg);
}








/*
dynamisches erstellen des einkaufswagen am schluss.
.img-btn {
    background: none;
    border: solid 1px;
  }
  .img-btn img {
    position: relative;
    width: 250px;
    cursor: pointer;
    background: none;
    transition: all 200ms ease-in-out;
  }

  body::after {
    content: url("./assets/icons/add.gif");
    display: none;
  }
   */