.logo {
  display: block;
  background: url(../assets/icons/favicon.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
}
.btn {
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 275ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    filter: drop-shadow(0 0 0.5px #00000027);
    transform: scale(0.99);
  }
}

.btn--minus {
  background-image: url(../assets/icons/minus.svg);
}
.btn--plus {
  background-image: url(../assets/icons/plus.svg);
}

.dish--btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  @media (max-width: 900px) {
    justify-content: space-between;
    gap: 1rem;
  }
  @media (max-width: 400px) {
    flex: 2;
  }
}

.order--btn {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
  justify-content: space-evenly;
  margin: var(--spacing-md) 0;
  padding: var(--spacing-sm);
  background-color: var(--primary-light);
  border: none;
  border-radius: 2rem;
  box-shadow: var(--shadow-sm);
  transition: all 275ms ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(1);
  }
}

.burger {
  background-image: url(../assets/icons/menu.png);
  width: 45px;
  height: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: var(--spacing-md);
}
