:root {
  /* Hauptfarbe */
  --primary-light: #ff8a3d;
  --primary-dark: #c85a0f;
  --primary-dark50: #c8590fe9;
  --primary-darker: #a04808;
  --text-price: #780c00;
  --bg-primary: #e76c1f;
  --bg-dark: #2c3e50;
  --bg-dark70: #253c54de;
  /* Neutrale Farben */
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5d9;
  --neutral-200: #eeeeee;
  --neutral-300: #e0e0e097;
  --neutral-400: #bdbdbd86;
  --neutral-500: #9e9e9e94;
  --neutral-600: #757575e4;
  --neutral-700: #616161;
  --neutral-800: #424242;
  --neutral-900: #212121;
  /* Schatten */
  --shadow-sm: 0 0px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0px 8px rgba(0, 0, 0, 0.503);
  --shadow-lg: 0 10px 15px rgba(231, 108, 31, 0.15);
  --shadow-xl: 0 20px 25px rgba(231, 108, 31, 0.2);
  /* Komplementärfarbe (Blau-Grün) */
  --secondary: #1f9fe7;
  --secondary-light: #3db4ff;
  --secondary-dark: #0f7dc8;
  /* Text */
  --text-primary: #212121;
  --text-secondary: #757575;
  --text-price: #780c00;
  --text-inverse: #ffffff;
  --text-on-primary: #ffffff;
}
