.order-container {
  width: 100%;
  padding: 3rem 0;
  .dish-nav {
    background-color: var(--neutral-300);
    justify-content: flex-start;
    gap: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: var(--spacing-sm);
    padding-left: 3rem;
    a {
      &:hover {
        color: blue;
      }
    }
  }
}

.dishes-section {
  width: 100vw;
  display: flex;
  flex-direction: column;

  height: 1000px;
}

.category--bg {
  width: 100%;
  background-color: var(--bg-primary-50);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  .dishes--header {
    justify-content: flex-start;
    align-items: center;

    .dish--title {
      padding-left: 70px;
    }

    .category--icon {
      height: 60px;
      width: 60px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
    }
    .starter {
      background-image: url(../assets/icons/starter.svg);
    }
    .pizza {
      background-image: url(../assets/icons/pizza.svg);
    }
    .pasta {
      background-image: url(../assets/icons/pasta.svg);
    }
    .dessert {
      background-image: url(../assets/icons/dessert.svg);
    }
    .drinks {
      background-image: url(../assets//icons/driks.svg);
    }
  }
}

.order--section {
  align-self: center;
  display: flex;
  justify-content: center;
  max-width: var(--max-dp-width);
  width: 100%;
}

.category--container {
  display: flex;
  flex-direction: column;
  align-items: center; /* wenn kein warenkorb eingeblendet ist dann ist die dish card in der mitte - wegen dem gap*/
  width: calc(100% - 19rem);
  gap: 1rem;

  /* only for styling */
  border: solid red 1px;
}

.dish {
  display: flex;
  background-color: var(--neutral-300);
  box-shadow: var(--schadow-sm);
  padding: var(--spacing-md);
width: 100%;
  gap: 1rem;
  border-radius: 1.5rem;
  &:hover {
    background-color: var(--neutral-400);
    box-shadow: var(--shadow-sm);
  }

  img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border-radius: var(--spacing-sm);
  }
  .dish-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .dish-right {
    flex-grow: 0.5;
  }
}

.basket--container {
  width: 19rem;
  /* only for styling */
  /* border: solid rgb(4, 0, 255) 1px; */


  .basket--wraper{
    background-color: var(--neutral-400);
    position: sticky;
    top: 10px;
  }
}
