.grid--container {
  display: grid;
  grid-template-columns: 2fr 19rem;
  gap: 1.5rem;
  max-width: var(--max-dp-width);
  width: 100%;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.grid--header {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding-left: 1rem;
  box-shadow: var(--shadow-sm);
}

.dish--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--spacing-md);
}

.dish {
  display: flex;
  align-items: center;
  background-color: var(--neutral-100);
  &:hover {
    background-color: var(--neutral-300);
  }
  padding: var(--spacing-sm);
  border-radius: 1rem;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.dish--img {
  border-radius: 1rem;
  width: 10rem;
  height: 8rem;
  object-fit: cover;
  object-position: center;
  @media (max-width: 600px) {
    width: 70%;
    height: 9rem;
  }
}

.dish--info {
  flex: 1;
  padding: var(--spacing-md);
}

.dish--right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @media (max-width: 600px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
  }
}

.category--icon {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  /* position: absolute; */
}
.starter {
  background-image: url(../assets/icons/starter.svg);
}
.pizza {
  background-image: url(../assets/icons/pizza.svg);
}
.pasta {
  background-image: url(../assets/icons/pasta.svg);
}
.dessert {
  background-image: url(../assets/icons/dessert.svg);
}
.drinks {
  background-image: url(../assets//icons/drinks.svg);
}

.dish--added {
  background-color: var(--neutral-300);
  color: var(--primary-darker);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 1rem;
  text-align: center;
}
.dish--price{
  @media (max-width: 900px) {
    align-self: center;
  }
  @media (max-width: 600px) {
    flex: 1;
    text-align: center;
  }
}
.btn--card {
  background: none;
  border: none;
  width: 45px;
  height: 55px;
  background-size: calc(100% - 15%);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 275ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }
}

.add {
  background-image: url(../assets/icons/shopping-add.svg);
}
.bin {
  background-image: url(../assets/icons/bin.svg);
}

