.order-container {
  width: 100%;
  padding: 3rem 0;
  .dish-nav {
    background-color: var(--neutral-300);
    justify-content: flex-start;
    gap: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: var(--spacing-sm);
    padding-left: 3rem;
    a {
      &:hover {
        color: blue;
      }
    }
  }
}
.dishes-section {
  width: 100vw;
}
.category-bg {
  width: 100%;
  background-color: var(--bg-primary-50);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.dishes-header {
  justify-content: flex-start;
  align-items: center;
}
.category--icon {
  height: 60px;
  width: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;

}
.dish-title{
    padding-left: 70px;
}
.starter {
  background-image: url(../assets/icons/starter.svg);
}
.pizza {
  background-image: url(../assets/icons/pizza.svg);
}
.pasta {
  background-image: url(../assets/icons/pasta.svg);
}
.dessert {
  background-image: url(../assets/icons/dessert.svg);
}
.drinks {
  background-image: url(../assets//icons/driks.svg);
}
.oder-section {
  height: 100px;
  background-color: red;
}
.dish {
  display: flex;
  background-color: var(--neutral-300);
  box-shadow: var(--schadow-sm);
  padding: var(--spacing-md);

  gap: 1rem;
  border-radius: 1.5rem;
  &:hover {
    background-color: var(--neutral-400);
    box-shadow: var(--schadow-md);
  }

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: var(--spacing-sm);
  }
  .dish-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .dish-right {
    flex-grow: 1;
  }
}

.basket-container {
  background-color: antiquewhite;
  width: 300px;

  .basket-wraper {
    position: sticky;
    top: 0;
  }
}
