.grid--container {
  display: grid;
  grid-template-columns: 2fr 19rem;
  gap: 1.5rem;
  max-width: var(--max-dp-width);
  width: 100%;
}
.grid--header {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding-left: 1rem;
  box-shadow: var(--shadow-sm);
}

.sidebar--container {

  position: relative;
  justify-content: start;

}
.basket {
  position: sticky;
  top: 1rem;
  background-color: var(--neutral-400);
  border-radius: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}
.dish--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--spacing-md);
}
.dish {
  display: flex;
  background-color: var(--neutral-100);
  &:hover {
    background-color: var(--neutral-300);
  }
  padding: var(--spacing-sm);
  border-radius: 1rem;
  .dish--img {
    border-radius: 1rem;
    width: 10rem;
    height: 8rem;
    object-fit: cover;
    object-position: center;
  }
  .dish--info {
    flex: 2;
    padding: var(--spacing-md);
  }
  .dish--right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.category--icon {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  /* position: absolute; */
}
.starter {
  background-image: url(../assets/icons/starter.svg);
}
.pizza {
  background-image: url(../assets/icons/pizza.svg);
}
.pasta {
  background-image: url(../assets/icons/pasta.svg);
}
.dessert {
  background-image: url(../assets/icons/dessert.svg);
}
.drinks {
  background-image: url(../assets//icons/drinks.svg);
}

.dish--btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dish--added {
  background-color: var(--neutral-300);
  color: var(--primary-darker);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 1rem;
}
.add--card {
  background: none;
  background-image: url(../assets/icons/shopping-add.svg);
  border: none;
  width: 45px;
  height: 55px;
  background-size: calc(100% - 15%);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    /* filter: drop-shadow(0 0 0.5px #00000027); */
    transform: scale(1);
  }
}
