.order-container {
  width: 100%;
  padding: 3rem 0;
  .dish-nav {
    background-color: var(--neutral-300);
    justify-content: flex-start;
    gap: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: var(--spacing-sm);
    a {
      &:hover {
        color: blue;
      }
    }
  }
}
.category-section {
    width: 100vw;
    background-color: var(--bg-primary);

  .category--icon {
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .starter {
    background-image: url(../assets/icons/starter.svg);
  }
  .pizza {
    background-image: url(../assets/icons/pizza.svg);
  }
  .pasta {
    background-image: url(../assets/icons/pasta.svg);
  }
  .dessert {
    background-image: url(../assets/icons/dessert.svg);
  }
  .drinks {
    background-image: url(../assets//icons/driks.svg);
  }
}
.dish {
    display: flex;
    background-color: var(--neutral-300);
    box-shadow: var(--schadow-sm);
    padding: var(--spacing-md);

    gap: 1rem;
    border-radius: 1.5rem;
    &:hover {
      background-color: var(--neutral-400);
      box-shadow: var(--schadow-md);
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: var(--spacing-sm);
    }
    .dish-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .dish-right {
      flex-grow: 1;
    }
  }



