.category--bg {
  background-color: var(--bg-primary);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.category {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: var(--max-dp-width);
  width: 100%;
}
.category--title{
  padding-left: 4rem;
}
.category--icon {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.starter {
  background-image: url(../assets/icons/starter.svg);
}
.pizza {
  background-image: url(../assets/icons/pizza.svg);
}
.pasta {
  background-image: url(../assets/icons/pasta.svg);
}
.dessert {
  background-image: url(../assets/icons/dessert.svg);
}
.drinks {
  background-image: url(../assets//icons/driks.svg);
}

.order--wrapper {
  display: flex;
  width: 100%;
  max-width: var(--max-dp-width);
}
.dishes--wrapper{
  flex-grow: 1;
  height: 1000px;
}
.basket--wrapper {
  flex: 0 0 19rem;
.basket{
  position: sticky;
  top: 0;
  border: solid blue 1px;
}
}
.dish{
  background-color: red;
}