.grid--container {
  display: grid;
  grid-template-columns: 2fr 19rem;
  gap: 1.5rem;
  max-width: var(--max-dp-width);
  width: 100%;
}
.grid--header {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding-left: 1rem;
  box-shadow: var(--shadow-sm);
}

.sidebar--container {
  background-color: var(--neutral-400);
  position: relative;
  justify-content: start;
  border-radius: 3rem 0.5rem ;
}
.basket {
  position: sticky;
  top: 0;
  /* background-color: var(--neutral-300); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dish--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--spacing-md);
}
.dish {
  display: flex;
  background-color: var(--neutral-200);
  &:hover{
    background-color: var(--neutral-300);
  }
  padding: var(--spacing-sm);
  border-radius: 1rem;
  .dish--img {
    border-radius: 1rem;
  }
  .dish--info {
    flex: 2;
    padding: var(--spacing-md);
  }
  .dish--right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.category--icon {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  /* position: absolute; */
}
.starter {
  background-image: url(../assets/icons/starter.svg);
}
.pizza {
  background-image: url(../assets/icons/pizza.svg);
}
.pasta {
  background-image: url(../assets/icons/pasta.svg);
}
.dessert {
  background-image: url(../assets/icons/dessert.svg);
}
.drinks {
  background-image: url(../assets//icons/drinks.svg);
}
