@font-face {
  font-family: "oswald";
  src: url("assets/fonts/oswald/Oswald-Regular.otf") ("assets/fonts/oswald/Oswald-Variable.ttf");
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-Thin.otf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/*****
Typografie 
*****/
.text{
  font-family: "oswald", sans-serif;
}
.title{
  font-family: "jetbrains-mono";
}
body{
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.dp-lg{
  font-size: 2.44rem;
  line-height: 1.55;
  letter-spacing: 0.015em;
  font-weight: 800;
}
.dp-md{
  font-size: 2.18rem;
  line-height: 1.55;
  letter-spacing: 0.015em;
  font-weight: 800;
}
h1{
  font-size: 1.85rem;
  line-height: 1.55;
  letter-spacing: 0.02em;
  font-weight: 500;
}
h2{
  font-size: 1.56rem;
  line-height: 1.55;
  letter-spacing: 0.02em;
  font-weight: 600;
}
h3{
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.025em;
  font-weight: 600;
}
h4{
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.025em;
  font-weight: 500;
}
h5{
  font-size: 1.18rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-weight: 500;
}
h6{
  font-size: 1.12rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.body-lg{
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.body-sm{
  font-size: 0.95rem;
  line-height: 1.65;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.caption-lg{
  font-size: 0.85rem;
  line-height: 1.65;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.caption{
  font-size: 0.85rem;
  line-height: 1.65;
  letter-spacing: 0.03em;
  font-weight: 300;
}
.caption-sm{
  font-size: 0.8rem;
  line-height: 1.65;
  letter-spacing: 0.03em;
  font-weight: 300;
}
.overline{
  font-size: 0.76rem;
  line-height: 1.65;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.tx-center{
    text-align: center;
}