@font-face {
  font-family: "oswald";
  src: url("assets/fonts/oswald/Oswald-Regular.otf") ("assets/fonts/oswald/Oswald-Variable.ttf");
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-Thin.otf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("../assets/fonts/jetbrainsmono/JetBrainsMono-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
